<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="author" content="www.atguigu.com">
    <!-- 苹果手机是否全屏显示页面-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!--控制苹果手机状态栏的颜色-->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title></title>
</head>
<body ng-app="myApp" ng-controller="myController">
<script type="text/javascript" src="../js/angular-1.5.5/angular.js"></script>
数量：<input type="text" ng-model="number"><br>
<p>{{result}}</p>
<p>{{number}}</p>
<button ng-click="result1()">计算</button>
<script type="text/javascript">
    angular.module("myApp",[])
            .factory("fact",function () {
                return {
                    res : function (a) {
                        return a*5
                    }
                }
            })
            .controller("myController",function ($scope,fact) {
                $scope.result1 = function () {
                    $scope.result = fact.res($scope.number);
                    console.log($scope.number)
                }
            })
</script>
</body>
</html>